.asterisk {
  color: rgb(224, 0, 0);
}
.map {
  width: 35%;
  height: 65%;
  border-radius: 1rem;
  padding: 10px;
  border: 1px solid rgb(224, 0, 0);
  margin-right: 5rem;
}
.contactMe-form {
  width: 45%;
  height: fit-content;
  margin-bottom: 1rem;
}
textarea {
  resize: none;
}
.contactMe-form div {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 5px;
}
.contactForm-btn {
  margin-top: 1.5rem;
}
@media screen and (max-width: 760px) {
  .contactMe-section .map {
    margin: 0;
    margin-top: 3vh;
    width: 95%;
  }
  .contactMe-form {
    width: 100%;
  }
}
