.lyrics-con {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.song-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.song-image img {
  height: 22rem;
  aspect-ratio: 2 / 1.5;
  padding: 0;
  border-radius: 1rem;
  border: 2px solid rgb(224, 0, 0);
}
.lyrics-wrapper {
  margin: 0 1rem;
  padding: 0;
  border-radius: 1rem;
  height: fit-content;
  overflow: hidden;
  border: 2px solid rgb(224, 0, 0);
}
.song-lyrics {
  height: 85vh;
  background-color: black;
  color: white;
  overflow-y: scroll;
  font-size: 1.5em;
  text-align: center;
  line-height: 50px;
  word-spacing: 2px;
}
.song-lyrics::-webkit-scrollbar {
  background-color: rgb(0, 0, 0);
  width: 5px;
}
.song-lyrics::-webkit-scrollbar-thumb {
  background-color: rgb(224, 0, 0);
  border-radius: 1rem;
}
.song-lyrics a {
  color: inherit;
  text-decoration: none;
  pointer-events: none;
}
.lyrics-con .songInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.infoWrapper {
  position: absolute;
  left: 25%;
  top: 15%;
  padding: 0;
  height: fit-content;
  border-radius: 1rem;
  overflow: hidden;
  border: 2px solid rgb(224, 0, 0);
  animation: fadein 0.5s both ease-in-out;
  z-index: 1;
}
.info-Container {
  width: 50vw;
  height: 70vh;
  background-color: rgb(0, 0, 0);
  font-size: 1.5em;
  text-align: center;
  line-height: 50px;
  word-spacing: 2px;
  overflow-y: scroll;
  color: white;
}
.info-Container::-webkit-scrollbar {
  background-color: rgb(0, 0, 0);
  width: 5px;
}
.info-Container::-webkit-scrollbar-thumb {
  background-color: rgb(224, 0, 0);
}
.info-Container a {
  color: inherit;
  text-decoration: none;
  pointer-events: none;
}
.hidden {
  display: none;
}
.songInfo button {
  background-color: bisque;
  width: fit-content;
  color: rgb(0, 0, 0);
  border-radius: 0.5rem;
  font-size: 1em;
  transition: all 0.3s ease-in-out;
  letter-spacing: 1px;
  padding: 0.5rem;
}
.songInfo button:hover {
  background-color: rgb(224, 0, 0);
  color: bisque;
  cursor: pointer;
}
.songInfo button:active,
form .form-btn:active {
  background-color: rgb(109, 0, 0);
  color: rgb(134, 98, 53);
}
.info-Container .close {
  float: right;
  width: 2.3rem;
  height: 2.3rem;
  color: rgb(224, 0, 0);
  background-color: transparent;
  cursor: pointer;
  margin: 0 5px;
  border-radius: 0.5rem;
  transition: all 0.2s ease-in;
}
.info-Container h1 {
  text-align: center;
  border-bottom: 1px solid rgb(224, 0, 0);
}
.info-Container .close:hover {
  animation: rotate 0.5s forwards ease-in-out;
}
.info-Container .close:active {
  color: rgb(109, 0, 0);
}
.media-wrapper {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.released {
  position: absolute;
  top: 0.5rem;
  background-color: rgba(250, 235, 215, 0.5);
  width: fit-content;
  text-align: center;
  border-radius: 1rem;
  padding: 0.5rem;
  transition: all 0.2s ease-in;
}
.released:hover {
  background-color: rgb(250, 235, 215);
}
@keyframes rotate {
  to {
    transform: rotate(180deg);
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.9;
  }
}
.expand-icon {
  position: sticky;
  top: -1%;
  display: none;
  padding: 0;
  color: rgb(224, 0, 0);
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 760px) {
  .song-image img {
    width: 95%;
    height: 95%;
    border: none;
  }
  .lyrics-wrapper {
    margin: 0 -20px -10px -10px;
    width: 350%;
  }
  .wideView {
    animation: expand both ease-in;
  }
  .song-lyrics {
    padding-left: 10%;
  }
  .media-wrapper {
    width: 95%;
  }
  .media-wrapper .about {
    padding: 5% 0;
  }
  .lyrics-con {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .expand-icon {
    display: inline;
  }
  @keyframes expand {
    to {
      position: absolute;
      width: 95%;
    }
  }
}
