.nav-toggle {
  display: none;
  background-color: rgb(224, 0, 0);
  color: white;
  width: 80px;
  height: 40px;
  border-radius: 0.5rem;
}
@media screen and (max-width: 600px) {
  .nav-toggle {
    display: block;
  }
  .nav-list {
    display: none;
  }
}

.expand {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 80px;
  right: 2%;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgba(224, 0, 0, 0.25);
  height: 200px;
  width: 60%;
  border-radius: 1rem;
}
