.search-con {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
}
.search-con .results {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}
.results .cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 25vw;
  height: 50vh;
  background-size: cover;
  border-radius: 1rem;
  cursor: pointer;
}
.full-name {
  width: 100%;
  text-align: center;
  font-size: large;
  font-family: cursive, sans-serif;
  background-color: rgba(250, 235, 215, 0.5);
  border-radius: 1rem;
  transition: all 0.2s ease-in;
}
.song-info {
  background-color: rgba(250, 235, 215, 0.5);
  width: 100%;
  text-align: center;
  border-radius: 1rem;
  font-family: cursive, sans-serif;
  font-size: large;
  transition: all 0.2s ease-in;
}
.cards:hover .full-name,
.cards:hover .song-info {
  background-color: rgb(250, 235, 215);
}
.search-con h1 {
  margin-bottom: 2rem;
}
.floating-search {
  display: flex;
  flex-direction: row;
  position: sticky;
  top: 1.4%;
  right: 100%;
  padding: 0.75rem 0.25rem 0.75rem 0.75rem;
  background: linear-gradient(180deg, black 40%, rgba(224, 0, 0, 0.7) 110%);
  border-radius: 0.5rem;
  cursor: grabbing;
  opacity: 0.5;
  transition: opacity 0.2s ease-in;
}
.floating-search:hover {
  opacity: 1;
}
.floating-search input {
  height: 40px;
  border: 0px;
  font-size: large;
  color: rgba(224, 0, 0, 0.8);
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
  background-color: bisque;
}
.floating-search input:focus {
  outline: none;
}
.floating-search button {
  width: fit-content;
  height: 40px;
  background-color: bisque;
  border: 0px;
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  transition: all 0.2s ease-in;
}
.floating-search button:focus {
  outline: none;
}
.searchIcon {
  height: 1.6rem;
  width: 1.9rem;
  padding: 0;
  color: rgba(224, 0, 0, 0.8);
  transition: all 0.2s ease-in;
}
.floating-search button:hover {
  cursor: pointer;
  background-color: transparent;
}
.floating-search button:hover .searchIcon {
  color: bisque;
}
form .dragIndicator {
  height: 2rem;
  width: 2rem;
  color: bisque;
  margin-left: 0.25rem;
  padding: 0;
}

@media screen and (max-width: 600px) {
  .floating-search {
    display: none;
  }
  .search-con {
    padding: 0;
  }
  .search-con .results {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
  }
  .results .cards {
    width: 100%;
    height: 25vh;
    border-radius: 0.5rem;
    margin-bottom: 100%;
  }
  .search-con h1 {
    margin-bottom: 0;
  }
  .full-name {
    display: none;
  }
  .song-info {
    margin-top: 110%;
    padding: 3%;
    background-color: transparent;
  }
}
