.search-con {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-con .results {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.results .cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 25vw;
  height: 50vh;
  background-size: cover;
  border-radius: 1rem;
  cursor: pointer;
}
.full-name {
  width: 100%;
  text-align: center;
  font-size: large;
  font-family: cursive, sans-serif;
  background-color: rgba(250, 235, 215, 0.5);
  border-radius: 1rem;
  transition: all 0.2s ease-in;
}

.song-info {
  background-color: rgba(250, 235, 215, 0.5);
  width: 100%;
  text-align: center;
  border-radius: 1rem;
  font-family: cursive, sans-serif;
  font-size: large;
  transition: all 0.2s ease-in;
}

.cards:hover .full-name,
.cards:hover .song-info {
  background-color: rgb(250, 235, 215);
}
.search-con h1 {
  margin-bottom: 2rem;
}
.floating-search {
  display: flex;
  flex-direction: row;
  position: sticky;
  top: 10%;
  left: 90%;
  overflow: hidden;
  padding: 1rem;
  background-color: aqua;
  border-radius: 1rem;
  cursor: grabbing;
}
.floating-search input {
  height: 40px;
  border: 0px;
}
.floating-search input:focus {
  outline: none;
}
.floating-search button {
  width: fit-content;
  height: 40px;
  background-color: white;
  border: 0px;
}
.floating-search button:focus {
  outline: none;
}
.floating-search button:hover {
  cursor: pointer;
}
.searchIcon {
  height: 25px;
  width: 30px;
  padding: 0;
}
