form {
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: -80px;
}

form #song {
  color: rgb(224, 0, 0);
  width: 25rem;
  height: 3rem;
  font-size: large;
  font-weight: 600;
  letter-spacing: 0.5px;
  font-family: cursive, sans-serif;
}

form .form-btn {
  height: 25%;
}

.text-cont {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 0 0.5rem;
  border-radius: 0.5rem;
}
.text-cont input:focus,
.text-cont input:active {
  outline: none;
}
.text-cont input {
  border: none;
}
form .mic {
  height: 90%;
  border-radius: 50%;
}
form .mic-icon {
  font-size: 40px;
}

/** Classes for the displayed toast **/
.Toastify__toast {
  color: bisque !important;
  font-size: large;
  background-color: rgb(70, 14, 14) !important;
}

.Toastify__toast-icon {
  width: 50px !important;
}

.Toastify__progress-bar {
  background-color: rgb(224, 0, 0) !important;
}

.Toastify__close-button > svg {
  width: 30px !important;
  height: 30px !important;
}
.Toastify__close-button:hover,
.Toastify__close-button:focus {
  background-color: rgb(224, 0, 0);
  border-radius: 5px;
}
