form {
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: -80px;
}

form #song {
  color: rgb(224, 0, 0);
  width: 25rem;
  height: 3rem;
  font-size: large;
  font-weight: 600;
  letter-spacing: 0.5px;
  font-family: cursive, sans-serif;
}

form .form-btn {
  height: 25%;
}

.text-cont {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 0 0.5rem;
  border-radius: 0.5rem;
}
.text-cont input:focus,
.text-cont input:active {
  outline: none;
}
.text-cont input {
  border: none;
}
form .mic {
  height: 90%;
  border-radius: 50%;
}
form .mic-icon {
  font-size: 40px;
}
