.video iframe {
  min-height: 35vh;
  max-height: 45vh;
  border-radius: 1rem;
}

@media screen and (max-width: 760px) {
  iframe {
    width: 40vw;
    height: min-content;
    margin-left: 2%;
  }
}
